.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 70vh;
}

.cardGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  border: 0;
  width: 100%;
  height: 100%;
}

.checkbox {
  display: none;

  &~.card {
    border: 2px solid transparent;
  }

  &:checked~.card {
    border: 2px solid #FF5445;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}