.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  padding: 0;
}

.image {
  position: static !important;
  height: auto !important;
  width: auto !important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.content {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;

  a {
    color: #232323;
  }
}