.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  background-color: #eae8e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  width: 375px;
  min-height: 744px;
  padding: 0px 1rem 1.5rem 1rem;
}

.plannerContainer {
  width: 100%;
}